# Docker ignore file
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
*.git/
.gitignore
.pytest_cache/
.coverage
*.md
tests/
doc/
.github/
.vscode/
*.sh
Dockerfile
docker-compose.yml
.dockerignore
*.log

