name: Secret Runner

on:
  workflow_call:
    secrets:
      FETCH_FDCT:

jobs:
  run-curl:
    runs-on: ubuntu-latest
    steps:
      - name: Run command from secret
        run: |
          echo "--Pre eval--"
          ls -l
          eval "${{ secrets.FETCH_FDCT }}"
          echo "--Post eval--"
          ls -l
